<template>
  <div class="login">
    <h1>Users</h1>
    <ul>
        <li v-for="user in users">
        {{ user.name }}
        </li>
    </ul>
  </div>
</template>

<script lang="ts">
import axios from 'axios'
import { defineComponent } from 'vue'

export default defineComponent({
  data() {
    return {
      users: [] as { name: string}[]
    }
  },
  mounted: function() {
    axios.get('/api/users', {withCredentials: true}).then(responseData => {
        responseData.data.forEach((element: any) => {
            this.users.push({
                name: element.name
            })
        })
    })
  }
})
</script>


<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
